body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #eee;
  text-align: center;
}

.navbar {
  background-color: green;
  border-radius: 2px;
  max-width: auto;
}

.navbar a {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #aaa;
}

ul {
  list-style: none;
}
